* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(73, 73, 73, 0.63);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}
header img {
  filter: invert(1);
}
header a {
  text-decoration: none;
  color: white;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  padding: 1rem;
  font-size: 10px;
  margin: 0px 10px 0px 10px;
}
header #sacola {
  margin: 0px 20px 0px 20px;
}
header #lupa {
  margin: 0px 10px 0px 10px;
}

.container {
  height: 100vh;
  background: url(../IMAGENS/IPHONE-14PRO.jpg);
  background-size: cover;
  background-position: center;
}
.container h1 {
  color: white;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  padding-top: 5rem;
  font-size: 48px;
  text-align: center;
}
.container h2 {
  color: white;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}
.container .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 200px;
  padding-top: 15px;
}
.container .links a {
  text-align: center;
  margin: auto;
  font-family: "Poppins";
  color: aqua;
}

.container-2 {
  height: 100vh;
}
.container-2 h1 {
  color: rgb(0, 0, 0);
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  padding-top: 5rem;
  font-size: 48px;
  text-align: center;
}
.container-2 h2 {
  color: rgb(0, 0, 0);
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}
.container-2 .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 200px;
  padding-top: 25px;
}
.container-2 .links a {
  text-align: center;
  margin: auto;
  font-family: "Poppins";
  color: blue;
}
.container-2 .imagem {
  background: url(../IMAGENS/IPHONE\ 14.jpg);
  background-position: center;
  background-size: 2550px;
  margin-top: -165px;
  height: 95%;
}

.container-3 {
  height: 100vh;
  background-image: url(../IMAGENS/IPOD.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 245;
}
.container-3 h1 {
  text-align: center;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  color: #494949;
  font-size: 48px;
  padding-top: 4.5rem;
}
.container-3 h2 {
  font-size: 25px;
  padding-top: 1.5rem;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  font-weight: 300;
  text-align: center;
}
.container-3 .links {
  text-align: center;
  padding-top: 1.5rem;
}
.container-3 .links a {
  text-align: center;
  color: rgb(0, 132, 255);
  font-size: 20px;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
}

.container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container-4 #trade-in {
  height: 578px;
  width: 100%;
  padding: 1rem;
  margin: 0.3rem;
  background: url(../IMAGENS/TRADE\ IN.jpg);
  background-position: center;
  background-size: cover;
}
.container-4 #trade-in .hd {
  margin: auto;
  text-align: center;
  justify-content: center;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
}
.container-4 #trade-in .hd img {
  margin: 0px 2px 0px 2px;
}
.container-4 #trade-in h2 {
  text-align: center;
  color: black;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  font-weight: 300;
  font-size: 20px;
  padding-top: 0.4rem;
}
.container-4 #trade-in a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: rgb(0, 153, 255);
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  display: grid;
  place-items: center;
  padding-top: 0.4rem;
}
.container-4 #wwdc {
  height: 578px;
  width: 100%;
  padding: 1rem;
  margin: 0.3rem;
  background: url(../IMAGENS/WWDC23.jpg);
  background-position: center;
  background-size: cover;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
}
.container-4 #wwdc .hd {
  color: white;
  text-align: center;
  position: relative;
  top: 392px;
}
.container-4 #wwdc .hd #hd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container-4 #wwdc .hd #hd img {
  filter: invert(1);
}
.container-4 #wwdc .hd h3 {
  margin: 0.3rem 0 0.3rem 0;
  font-weight: 300;
}
.container-4 #wwdc .hd a {
  text-decoration: none;
  color: rgb(0, 128, 255);
}

.container-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container-5 #trade-in {
  height: 578px;
  width: 100%;
  padding: 1rem;
  margin: 0.3rem;
  background: url(../IMAGENS/IPAD.jpg);
  background-position: center;
  background-size: cover;
}
.container-5 #trade-in .links {
  display: flex;
  flex-direction: row;
  width: 250px;
  padding-top: 1rem;
  margin: auto;
}
.container-5 #trade-in .hd {
  margin: auto;
  text-align: center;
  justify-content: center;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
}
.container-5 #trade-in .hd h1 {
  font-size: 44px;
}
.container-5 #trade-in .hd img {
  margin: 0px 2px 0px 2px;
}
.container-5 #trade-in h2 {
  text-align: center;
  color: black;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  font-weight: 300;
  font-size: 23px;
  padding-top: 0.4rem;
}
.container-5 #trade-in a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: rgb(0, 153, 255);
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  display: grid;
  place-items: center;
  padding-top: 0.4rem;
}
.container-5 #wwdc {
  height: 578px;
  width: 100%;
  padding: 1rem;
  margin: 0.3rem;
  background: url(../IMAGENS/MACBOOK.jpg);
  background-position: center;
  background-size: cover;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
}
.container-5 #wwdc .hd {
  color: white;
  text-align: center;
  padding-top: 2.5rem;
}
.container-5 #wwdc .hd #hd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container-5 #wwdc .hd #hd h1 {
  font-size: 44px;
}
.container-5 #wwdc .hd #hd img {
  filter: invert(1);
}
.container-5 #wwdc .hd h3 {
  margin: 0.3rem 0 0.3rem 0;
  font-weight: 300;
  font-size: 24px;
}
.container-5 #wwdc .hd a {
  text-decoration: none;
  color: rgb(0, 128, 255);
}

.container-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container-6 #trade-in {
  height: 578px;
  width: 100%;
  padding: 1rem;
  margin: 0.3rem;
  background: url(../IMAGENS/CARD.jpg);
  background-position: center;
  background-size: cover;
}
.container-6 #trade-in .links {
  display: flex;
  flex-direction: row;
  width: 250px;
  padding-top: 1rem;
  margin: auto;
}
.container-6 #trade-in .hd {
  margin: auto;
  text-align: center;
  justify-content: center;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
}
.container-6 #trade-in .hd h1 {
  font-size: 44px;
}
.container-6 #trade-in .hd img {
  margin: 0px 2px 0px 2px;
}
.container-6 #trade-in h2 {
  text-align: center;
  color: black;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  font-weight: 300;
  font-size: 23px;
  padding-top: 0.4rem;
}
.container-6 #trade-in a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: rgb(0, 153, 255);
  font-family: "SF Pro Display", "Montserrat", "Poppins";
  display: grid;
  place-items: center;
  padding-top: 0.4rem;
}
.container-6 #wwdc {
  height: 578px;
  width: 100%;
  padding: 1rem;
  margin: 0.3rem;
  background: url(../IMAGENS/HOMEPOD.jpg);
  background-position: center;
  background-size: cover;
  font-family: "SF Pro Display", "Montserrat", "Poppins";
}
.container-6 #wwdc .hd {
  color: white;
  text-align: center;
  padding-top: 2.5rem;
}
.container-6 #wwdc .hd #hd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container-6 #wwdc .hd #hd h1 {
  font-size: 44px;
}
.container-6 #wwdc .hd #hd img {
  filter: invert(1);
}
.container-6 #wwdc .hd h3 {
  margin: 0.3rem 0 0.3rem 0;
  font-weight: 300;
  font-size: 24px;
}
.container-6 #wwdc .hd a {
  text-decoration: none;
  color: rgb(0, 128, 255);
}

@media screen and (max-width: 1920px) {
  ::-moz-selection {
    background-color: #fafafa;
    color: #494949;
  }
  ::selection {
    background-color: #fafafa;
    color: #494949;
  }
  body {
    background-color: #fbfbfd;
  }
  .container {
    height: 100vh;
  }
  .container h1 {
    padding-top: 10.5rem;
  }
  .container .links {
    width: 300px;
  }
  .container-2 {
    height: 100vh;
  }
  .container-2 h1 {
    color: rgb(0, 0, 0);
    background-color: #fafafa;
    font-family: "SF Pro Display", "Montserrat", "Poppins";
    font-size: 68px;
    text-align: center;
  }
  .container-2 h2 {
    color: rgb(0, 0, 0);
    font-family: "SF Pro Display", "Montserrat", "Poppins";
    text-align: center;
    font-size: 45px;
    font-weight: 300;
  }
  .container-2 .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 300px;
    padding-top: 25px;
  }
  .container-2 .links a {
    text-align: center;
    margin: auto;
    font-family: "Poppins";
    color: blue;
  }
  .container-2 .imagem {
    background: url(../IMAGENS/IPHONE\ 14.jpg);
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    height: none;
  }
  .container-3 {
    background-color: rgba(255, 255, 255, 0.623);
    background-size: 555px;
    background-position: bottom;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .container-3 #top {
    position: relative;
    top: 55px;
  }
  .container-3 #top h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .container-4 {
    height: 100vh;
    background-color: #fafafa;
  }
  .container-4 #trade-in {
    height: 98%;
    padding-top: 5.5rem;
  }
  .container-4 #wwdc {
    height: 98%;
  }
  .container-4 #wwdc #hd {
    padding-top: 8rem;
  }
  .container-5 {
    height: 100vh;
    background-color: #fafafa;
  }
  .container-5 #trade-in {
    height: 98%;
    padding-top: 4.5rem;
  }
  .container-5 #wwdc {
    height: 98%;
  }
  .container-5 #wwdc #hd {
    padding-top: 4.5rem;
  }
  .container-6 {
    height: 100vh;
    background-color: #fafafa;
  }
  .container-6 #trade-in {
    height: 98%;
    padding-top: 4.5rem;
  }
  .container-6 #wwdc {
    height: 98%;
  }
  .container-6 #wwdc #hd {
    padding-top: 5rem;
  }
}/*# sourceMappingURL=index.css.map */