* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #383838;
}

.menu a {
  padding: 15px;
  margin: 20px;
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  transition: 0.5s;
}
.menu a:hover {
  color: rgb(215, 215, 215);
}

.container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/macbook\ air.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#macbook {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/macair.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#link {
  margin: 10px;
  padding: 5px;
}

#link a {
  text-decoration: none;
  color: white;
  margin: 20px;
  padding: 10px;
  font-family: "Montserrat";
  font-weight: bolder;
  border: 2px solid white;
  transition: 0.5s;
}
#link a:hover {
  color: #848484;
  border: 2px solid #585858;
}

#pq {
  line-height: 45px;
  font-family: "Montserrat";
  color: white;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 180px;
  font-family: "Montserrat";
  color: white;
}

.ip14 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Montserrat";
}

#sobre, #comprar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: 0.5s;
}
#sobre:hover, #comprar:hover {
  text-shadow: 1px 5px 15px black;
}

#sobre {
  width: 900px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/iphone.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

#comprar {
  width: 900px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/iphonee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(242, 242, 242);
}

#sobre, #comprar p {
  line-height: 40px;
}

#ipad-air {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/ipad\ air\ bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#apple-watch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/apple\ watch\ bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.relo img {
  transition: 1s;
}
.relo img:hover {
  transform: scale(1.1);
}

.gio {
  color: white;
  font-family: "Montserrat";
  text-align: right;
  text-shadow: 2px 1px 15px black;
}

.gio p {
  line-height: 50px;
}

.air {
  font-family: "Montserrat";
  color: white;
  line-height: 55px;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-shadow: 2px 1px 10px black;
}

.pad img {
  filter: drop-shadow(1px 2px 15px black);
  transition: 0.5s;
}
.pad img:hover {
  transform: translateY(-10px);
}

.link a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 1px;
  border: 2px solid white;
  transition: 0.5s;
}
.link a:hover {
  border: 2px solid #bebebe;
  color: #848484;
}/*# sourceMappingURL=style.css.map */